.home-container {
    min-height: 100vh;
    color: white;
  }
  
  .hero-section {
    padding: 100px 0;
    text-align: left;
  }
  
  .navbar a {
    color: black;
    font-weight: bold;
  }  

  .nvmenu{
    display: flex
;
    justify-content: space-between;
    background: #fff;
  }

  .rightmenu{
    flex-direction: row;
  }